.div-form {
   width: 70%;
   background-color: #595959;
   margin: 10px auto;
   padding: 5px;
   font-family: sans-serif;
   border-radius: 5px;
}

.table-form {
   min-width: 100%;
   width: 100%;
   max-width: 100%;
   text-align: right;
}

.img-profile {
   border-radius: 50%;
}

h5 {
   margin: 5px;
   margin-right: 0px;
}

input {
   box-sizing: border-box;
   position: relative;
   width: 100%;
   margin: 0.2em;
   padding: 0 15px 0 15px;
   border: none;
   text-align: left;
   line-height: 34px;
   white-space: nowrap;
   border-radius: 0.2em;
   font-size: 12px;
   color: #333333;
   background-color: #EEEEEE;
}

textarea {
   font-family: sans-serif;
   position: relative;
   width: 100%;
   margin: 0.2em;
   padding: 15px;
   border: none;
   text-align: left;
   line-height: auto;
   word-break: break-word;
   border-radius: 0.2em;
   font-size: 12px;
   color: #333333;
   background-color: #EEEEEE;
   resize: none;
}

.form-addphoto {
   max-width: 300px;
   width: 90%;
   margin: auto;
}

input[type="file"] {
   display: none;
   box-sizing: content-box;
   max-width: 300px;
   width: 100px;
   margin: 0.2em;
   padding: inherit;
   border: none;
   text-align: center;
   line-height: 34px;
   white-space: nowrap;
   border-radius: 0.2em;
   font-size: 16px;
   color: #333333;
   background-color: #CCCCCC;
	transition: background-color 0.3s;
}

.form-filebutton {
   box-sizing: content-box;
   max-width: 300px;
   width: 100px;
   padding: 10px;
   border: none;
   text-align: center;
   line-height: 34px;
   white-space: nowrap;
   border-radius: 0.2em;
   font-size: 16px;
   color: #333333;
   background-color: #CCCCCC;
	transition: background-color 0.3s;
}

.form-filebutton:hover, .form-filebutton:focus {
   background-color: #DDDDDD;
   outline: none;
	transition: background-color 0.3s;
}

.hidden {
   display: none;
}

.div-preview {
   margin-top: 5px;
}

.img-preview {
   max-width: 100%;
}

.img-button {
   height: 25px;
}

.div-buttons {
   display:flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-around;
}

.div-buttons-group {
   display:flex;
   flex-direction: row;
   margin: 5px;
}

button {
   display: inline-block;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   border: 1px solid transparent;
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   line-height: 1.5;
   border-radius: 0.2em;
   background-color: #007BFF;
   transition: background-color 0.3s;
}

button:hover {
   background-color: #006DE2;
   outline: none;
	transition: background-color 0.3s;
}

.btn-send {
   display: inline-block;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   border: 1px solid transparent;
   margin-top: 10px;
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   line-height: 1.5;
   border-radius: 0.2em;
   color: #EEEEEE;
   background-color: #28a745;
   transition: background-color 0.3s;
}

.btn-send:hover {
   background-color: #1c8e36;
   outline: none;
	transition: background-color 0.3s;
}

.btn-selected {
   background-color: #00AEFF;
   transition: background-color 0.3s;
}

.correto {
   box-shadow: inset 2px 2px #00AA00, inset -2px -2px #00AA00, inset 2px -2px #00AA00, inset -2px 2px #00AA00;
   border-radius: 0.2em;
}

.erro {
   box-shadow: inset 2px 2px #FF0000, inset -2px -2px #FF0000, inset 2px -2px #FF0000, inset -2px 2px #FF0000;
   border-radius: 0.2em;
}
