body {
   background: #696969;
   margin: 0px;
   margin-top: 70px;
   padding: 0px;
   font-family: sans-serif;
   color: #FEFEFE;
}
main {
   background: #494949;
   min-height: calc(100vh - 90px);
   height: auto;
   width: 70%;
   margin: auto;
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
}

h2, h4 {
   word-wrap: break-word
}
